<div class="page">
  <div class="page-region-content">
		<div class="row">
			<center><h3>Просмотр</h3></center>
      <center>
      <b>Название: </b><%= @edizm.name %><br/>
			<b>Язык: </b><%= @edizm.lang %><br/>
        <%= link_to "Назад", {:controller => "edizms", :action => "index"} %>
      </center>
		</div>
	</div>
</div>
<br/>
<br/>
<br/>
<br/>