<div class="page">
  <div class="page-region-content">
		<div class="row">
			<br>
			<center><h2>Информационная система ДОТРАНСГАРАНТ и компания</h2></center>
			<h3>Статистика:</h3>
		</div>
		<div class="row">
			<table class="hovered">
				<tr>
					<td>Общее количество отправленных запросов</td>
					<td><%= @zapros_count %></td>
				</tr>
				<tr>
					<td>Общее количество отправленных вопросов</td>
					<td><%= @vopros_count %></td>
				</tr>
			</table>
		</div>
		</div>
		</div>