<div class="page">
  <div class="page-region-content">
		<div class="row">
			<center>
        <h3>Рубрика "Нормативно-правовая база"</h3>
        <%= link_to "Создать", {:controller => "zakon", :action => "new"}, :class=>"button big bg-color-blueDark", :style => "height: 10px; color: white;" %>
      </center>

			<table class="bordered">
			<thead>
        <tr>
          <th><center><b>№</b></center></th>
          <th><center><b>Название</b></center></th>
          <th></th>
        </tr>
      </thead>
      <% @zakon.each do |f|  %>
      	<tr>
      		<td><center><%= f.id %>.</center></td>
      		<td><%= f.name %></td>
          <td><center>
            <%= link_to( "Редактировать", :controller => 'zakon', :action=>'edit',:id => f.id ) %></center>
          </td>
      	</tr>
    	<% end %>
    	</table>
		</div>
	</div>
</div>
