<div class="page-sidebar" style="width:230px;">
    <ul style="overflow: visible;">
        <li class="sticker sticker-color-blueDark"><a href="/page/presentation"><%= t 'secondary.menu.present' %></a></li>
        <li class="sticker sticker-color-green"><a href="/page/partners"><%= t 'secondary.menu.partners' %></a></li>
        <li class="sticker sticker-color-blueDark"><a href="/page/become_partner"><%= t 'secondary.menu.bec_part' %></a></li>
    </ul>
</div>