<li class="sticker sticker-color-blueDark"><a href="/page/singleg"><%= t 'service.menu.single' %></a></li>
<li class="sticker sticker-color-green"><a href="/page/multig"><%= t 'service.menu.multi' %></a></li>
<li class="sticker sticker-color-blueDark"><a href="/page/geng"><%= t 'service.menu.general' %></a></li>