<div class="page-sidebar" style="width:220px;">
    <ul style="overflow: visible;">
        <li class="sticker sticker-color-blueDark"><a href="/page/presentation">Презентация</a></li>
        <li class="sticker sticker-color-blue"><a href="/page/partners">Наши партнеры</a></li>
        <li class="sticker sticker-color-green"><a href="/page/represent">Наши представители</a></li>
    </ul>
</div>
<div class="page-region">
    <div class="page-region-content">
        <div class="span9">
            <h2>О нас и наших партнерах</h2>
            <p align="justify">
            	Коммандитное общество «Донтрансгарант и компания» с 2007 года уполномочено Государственной таможенной службой Украины на предоставление таможенным органам финансовой гарантии в виде документа.
            </p>
            <p align="justify">
              На сегодняшний день наша компания является одним из наибольших и эффективно работающих независимых финансовых посредников, предоставляющих финансовые гарантии в виде документа таможенным органам Украины.
            </p> 
            <p  align="justify">
              Работа нашего высококвалифицированного персонала и уполномоченных представителей коммандитного общества «Донтрансгарант и компания» в международных пунктах пропуска на государственной границе Украины направлена на предоставление финансовых гарантий в виде документа в любое удобное для Вас время по всей территории Украины.
            </p>   
            <p align="justify">
              Наше сотрудничество формируется на принципах доверия, ответственности и уважения. Опыт и признание, полученные более, чем за 5 лет успешной работы по предоставлению услуг по выдаче финансовых гарантий, позволяют нам создавать и развивать плодотворное сотрудничество с нашими партнёрами. Тот факт, что среди наших постоянных партнёров есть известные имена, дает основание полагать, что мы правильно понимаем потребности этой группы партнёров, а наши услуги соответствуют их стандартам. 
            </p>
            <p align="justify">
            	Мы делаем все возможное, для того, чтобыВы остались довольны качеством предоставляемых нами услуг и стали надежными постоянными партнёрами нашей компании.
            </p>
        </div>
    </div>
</div>