<div class="page-sidebar" style="width:225px;">
    <ul style="overflow: visible;">
        <li class="sticker sticker-color-blueDark"><a href="/page/presentation">Презентация</a></li>
        <li class="sticker sticker-color-green"><a href="/page/partners">Наши партнеры</a></li>
        <li class="sticker sticker-color-blueDark"><a href="/page/represent">Наши представители</a></li>
        <li class="sticker sticker-color-green"><a href="/page/become_partner">Как стать партнером</a></li>
    </ul>
</div>
<div class="page-region">
    <div class="page-region-content">
        <div class="span9" align="justify">
        <h2>О нас и наших партнерах</h2>
            <blockquote>
                <strong>Как стать партнером</strong>
            </blockquote>
            <p >
            	Коммандитное общество «Донтрансгарант и компания» предлагает сотрудничество на договорных отношениях. 
            </p>
            <p>
              Для заключения договора о предоставлении услуг по выдаче финансовых гарантий в виде документа с целью обеспечения уплаты таможенных платежей и получения финансовых гарантий в виде документа необходимо заполнить и отправить форму запроса на определение стоимости финансовой гарантии.
            </p> 
            <p>
              По результатам рассмотрения запроса с потенциальным партнером согласовывается тариф платы за предоставление финансовых гарантий в виде документа с учетом скидок при увеличении объемовпоставок. После согласования тарифа на взаимовыгодных условияхс потенциальным партнёром заключается договор о предоставлении услуг по выдаче финансовых гарантий в виде документа. Таким образом, наши потенциальные партнеры становятся постоянными договорными партнёрамикоммандитного общества «Донтрансгарант и компания».
            </p>   
            <br>
            <h3 align="center">Мы уважаем интересы наших партнёров и делаем все возможное для комфортного сотрудничества с нами!</h3>
            
        </div>
    </div>
</div>