<br/>
<br/>
<div class="page">
  <div class="page-region-content">
  	<div class="grid">
  		<div class="row">
				<div class="span6">
						<b>Отдел развития</b><br/>
						<h4>Начальник отдела</h4>
						<em>Карташова Екатерина Александровна</em><br/><br/>
						<span class="icon-contact"></span>+38 067 481 32 35<br>
						<span class="icon-contact"></span>dtg_kartesheva<br/>
				    <span class="icon-mail"></span><a href="mailto:garant@dtg.kiev.ua" class="tertiary-secondary-text">garant@dtg.kiev.ua</a><br/>
				    <span class="icon-mail"></span><a href="mailto:ek@dtg.kiev.ua" class="tertiary-secondary-text">ek@dtg.kiev.ua</a>
				</div>
				<div class="span5">
						<b>Отдел гарантирования</b>
						<h4>Начальник отдела</h4>
						<em>Дехтяренко Галина Владимировна</em><br/><br/>
						<span class="icon-contact"></span>+38 067 332 10 40, +38 067 402 73 52<br>
						<span class="icon-contact"></span>Korol_galyna<br/>
				    <span class="icon-mail"></span><a href="mailto:dtg@dtg.kiev.ua" class="tertiary-secondary-text">dtg@dtg.kiev.ua</a><br/>
				</div>
			</div>
			<br/>
			<br/>
			<br/>
			<br/>
			<div class="row">
				<div class="span6">
						<b>Отдел поддержки клиентов</b>
						<h4>Начальник отдела</h4>
						<em>Бабак Раиса Анатольевна</em><br/><br/>
						<span class="icon-contact"></span>+38 067 547 52 28<br>
						<span class="icon-contact"></span>dtg_support, raisa_babak<br/>
				    <span class="icon-mail"></span><a href="mailto:support@dtg.kiev.ua" class="tertiary-secondary-text">support@dtg.kiev.ua</a><br/>
				    <span class="icon-mail"></span><a href="mailto:r.babak@dtg.kiev.ua" class="tertiary-secondary-text">r.babak@dtg.kiev.ua</a>
				</div>
				<div class="span5">
						<b>Финансовый отдел</b>
						<h4>Главный бухгалтер</h4>
						<em>Клюско Оксана Эдуардовна</em><br/><br/>
						<span class="icon-contact"></span>+38 067 481 32 52<br>
						<span class="icon-contact"></span>oe_klusko<br/>
				    <span class="icon-mail"></span><a href="mailto:ok@dtg.kiev.ua" class="tertiary-secondary-text">ok@dtg.kiev.ua</a><br/>
				</div>
			</div>
		</div>	
  </div>
</div>

