<br/>
<br/>
<div class="page">
    <div class="page-region-content">
        <div class="span9">
					<ul class="listview image">
						<li>
							<span class="icon-contact"></span>+38 044 500 92 68<br>
					    <span class="icon-documents-1"></span>+38 044 581 08 68<br>
					    <span class="icon-vibrate-1"></span>+38 067 332 10 40<br>
					    <span class="icon-mail"></span><a href="mailto:dtg@dtg.kiev.ua" class="tertiary-secondary-text">dtg@dtg.kiev.ua</a>
						</li>
					</ul>          
        </div>
    </div>
</div>

