<div class="page-sidebar" style="width:225px;">
    <ul style="overflow: visible;">
       <%= render 'shared/add_info_menu' %>
    </ul>
</div>
<div class="page-region">
    <div class="page-region-content">
        <div class="grid">
            <br/>
            <!--Mdoffice.com.ua -->
                <iframe src="http://www.mdoffice.com.ua/pls/MDOffice/MDOCustCodecs2012Script.html?p_form=4" frameborder="0" marginheight=0 marginwidth=0 height="1000px"  width="600px"></iframe>
            <!--//Mdoffice.com.ua-->
        </div>
    </div>
</div>