<center><h3> Дополнительная информация </h3></center>
<center>
	<%= link_to "Задать вопрос", 
  		  {:controller => "ask", :action => "new"}, :class=>"button big", :style => "height: 10px;" %>
</center>