<div class="page-sidebar" style="width:220px;">
    <ul style="overflow: visible;">
        <li class="sticker sticker-color-blueDark" style="font-size:10pt;"><a href="#">Частые вопросы</a></li>
        <li class="sticker sticker-color-blue"style="font-size:10pt;"><a href="#">Нормативно-правовые акты</a></li>
        <li class="sticker sticker-color-green" style="font-size:10pt;"><a href="#">Наши представители</a></li>
    </ul>
</div>
<div class="page-region">
    <div class="page-region-content">
        <div class="grid">
            <h2>Дополнительная информация</h2>
            <div class="row">
                <div class="span4"> 
                    <p align="justify">
                        Предоставление таможенным органам обеспечения уплаты таможенных платежей является обязательным при ввозе на таможенную территорию Украины и/или перемещении территорией Украины проходящим и внутренним транзитом товаров согласно перечня, утвержденного Кабинетом Министров Украины, а также в других случаях, установленных Таможенным кодексом Украины.
                    </p>
                </div>   
                <div class="span1">
                    <a href="#"><%= image_tag "railroad.jpg" %> </a>
                    <a href="#"><%= image_tag "tpp.jpg" %> </a>
                </div>
            </div>
            <br>
            <div class="row">
                <center>
                <%= link_to "Задать вопрос", 
                    {:controller => "ask", :action => "new"}, :class=>"button big", :style => "height: 10px;" %>
                </center>
                <br>
            </div>
        </div>
    </div>
</div>