<div class="page-sidebar" style="width:225px;">
    <ul style="overflow: visible;">
        <li class="sticker sticker-color-blueDark"><a href="/page/singleg">Индивидуальная гарантия</a></li>
        <li class="sticker sticker-color-blue"><a href="/page/multig">Многоразовая гарантия</a></li>
        <li class="sticker sticker-color-green"><a href="/page/geng">Генеральная гарантия</a></li>
    </ul>
</div>
<div class="page-region">
    <div class="page-region-content">
        <div class="span9">
            <h2>Генеральная финансовая гарантия</h2>
            <blockquote>
                <strong>Предоставление генеральной финансовой гарантии</strong>
            </blockquote>
            <br>
            <p align="justify">
                Генеральная финансовая гарантия предоставляется для обеспечения уплаты таможенных платежей по таможенным декларациям или документам контроля за перемещением товаров, ко- торые декларант или уполномоченное им лицо планируют подать на протяжении одного года.
            </p>
            <br>
            <div class="row">
                <center>
                    <%= link_to "Отправить запрос на определение стоимости финансовой гарантии", 
                            "#", 
                            :class=>"button big bg-color-blueDark", :style => "height: 10px; color: white;" %>
                </center>
                <br>
            </div>
        </div>
    </div>
</div>