<div class="page-region">
    <div class="page-region-content">
        <div class="span9">
            <h2>Многоразовая финансовая гарантия</h2>
            <blockquote>
                <strong>Предоставление индивидуальной финансовой гарантии</strong>
            </blockquote>
            <br>
            <p>
                Индивидуальная (одноразовая) финансовая гарантия в виде документа предоставляется на сумму таможенных платежей по:
            </p>
            <ul>
                <li>одной таможенной декларации в пределах одной внешнеторговой операции;</li>
                <li>одной таможенной декларации в пределах одной транзитной операции;</li>
                <li>одному документу контроля за перемещением товаров;</li>
                <li>одной операции по перемещению через таможенную границу Украины товаров гражданами в случаях, предусмотренных разделом ХІІ Таможенного кодекса Украины.</li>
            </ul>
            <br>
            <h3>Определение стоимости финансовой гарантии</h3>
            <div class="span5">
                <form>
                    <div class="input-control text">
                        <input type="text" value="Наименование товара">
                    </div>
                    <div class="input-control text">
                        <input type="text" placeholder="Код УКТВЭД">
                    </div>
                    <div class="grid">
                        <div class="row">
                            <div class="input-control text span2">
                                <input type="text" placeholder="Кол-во">
                            </div>
                            <div class="input-control text span3" style="margin-left: 20px;">
                                <input type="text" placeholder="Стоимость">
                            </div>
                        </div>
                    </div>
                <a class="button default">Отправить запрос</a>
                </form>
            </div>
        </div>
    </div>
</div>