<div class="page-region">
    <div class="page-region-content">
        <div class="span9">
            <h2>Многоразовая финансовая гарантия</h2>
            <blockquote>
                <strong>Предоставление многоразовой финансовой гарантии</strong>
            </blockquote>
            <br>
            <p>
                Многоразовая финансовая гарантия предоставляется для обеспечения уплаты таможенных платежей по нескольким таможенным декларациям или документам контроля за перемещением товаров при ввозе товаров на таможенную территорию Украины с целью транзита или для свободного обращения на этой территории для одного собственника в рамках одного внешнеэкономического договора.
            </p>
            <ul>
                <li>одной таможенной декларации в пределах одной внешнеторговой операции;</li>
                <li>одной таможенной декларации в пределах одной транзитной операции;</li>
                <li>одному документу контроля за перемещением товаров;</li>
                <li>одной операции по перемещению через таможенную границу Украины товаров гражданами в случаях, предусмотренных разделом ХІІ Таможенного кодекса Украины.</li>
            </ul>
            <br>
            <div class="row">
                <center>
                    <!-- <div class="button"> -->
                    <%= link_to "Отправить запрос на определение стоимости финансовых гарантий", 
                        {:controller => "zapros", :action => "new"}, :class=>"button"
                        %>
                    <!-- </div> -->

                </center>
                <br>
            </div>
        </div>
    </div>
</div>