<div class="page-sidebar" style="width:220px;">
    <ul style="overflow: visible;">
        <li class="sticker sticker-color-blueDark"><a href="/page/presentation">Презентация</a></li>
        <li class="sticker sticker-color-blue"><a href="/page/partners">Наши партнеры</a></li>
        <li class="sticker sticker-color-green"><a href="/page/represent">Наши представители</a></li>
    </ul>
</div>
<div class="page-region">
    <div class="page-region-content">
        <div class="span9">
            <h2>О нас и наших партнерах</h2>
            <blockquote>
                <strong>Презентация ДТГ</strong>
            </blockquote>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>