<%= render 'shared/about_menu' %>

<div class="page-region">
    <div class="page-region-content">
        <div class="span9">
            <center>
                <h3><%= t 'presentation.title' %></h3>
                <iframe width="560" height="315" src="http://www.youtube.com/embed/LQ97YuElGKA?rel=0" frameborder="0" allowfullscreen></iframe>
                <br>
                <br>
                <br>
                <iframe width="560" height="315" src="http://www.youtube.com/embed/GPIlJvQj59A?rel=0" frameborder="0" allowfullscreen></iframe>
            </center>
            <br>
            <br>
        </div>
    </div>
</div>