<div class="page-sidebar" style="width:225px;">
    <ul style="overflow: visible;">
        <li class="sticker sticker-color-blueDark"><a href="/page/presentation">Презентация</a></li>
        <li class="sticker sticker-color-green"><a href="/page/partners">Наши партнеры</a></li>
        <li class="sticker sticker-color-blueDark"><a href="/page/represent">Наши представители</a></li>
        <li class="sticker sticker-color-green"><a href="/page/become_partner">Как стать партнером</a></li>
    </ul>
</div>
<div class="page-region">
    <div class="page-region-content">
        <div class="span9">
            <center>
                <h3>Коммандитное общество<br/>"Донтрансгарант и компания"</h3>
                <iframe width="560" height="315" src="http://www.youtube.com/embed/-N7WUsA-QJs?rel=0" frameborder="0" allowfullscreen></iframe>
            </center>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>