<div class="page-sidebar" style="width:225px;">
    <ul style="overflow: visible;">
        <li class="sticker sticker-color-blueDark"><a href="/page/presentation">Презентация</a></li>
        <li class="sticker sticker-color-green"><a href="/page/partners">Наши партнеры</a></li>
        <li class="sticker sticker-color-blueDark"><a href="/page/represent">Наши представители</a></li>
        <li class="sticker sticker-color-green"><a href="/page/become_partner">Как стать партнером</a></li>
    </ul>
</div>
<div class="page-region">
    <div class="page-region-content">
        <div class="grid">
            <div class="span9">
                <h2>Наши представители</h2>
                <div class="row">
                    <h3 align="center" style="color:#000">
                        Перечень пунктов пропуска на государственной границе Украины, за которыми закреплены представители коммандитного общества "Донтрансгарант и компания"</h3>
                <table class="tabl">
                    <tr>
                        <td><h4 align="center">Пункты пропуска для автомобильного сообщения</h4></td>
                        <td><h4 align="center">Пункты пропуска для железнодорожного сообщения</h4></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><b>НА ГРАНИЦЕ С РЕСПУБЛИКОЙ ПОЛЬША</b>
                    </tr>
                    <tr>
                        <td>
                            <div class="pull-left">
                                <b>Ягодин</b> – Дорохуск<br>
                                <b>Краковец</b> – Корчова<br>
                                <b>Рава-Русская</b> – Хребенне
                                <br>
                                <br>
                                <br>
                            </div>
                            <div class="pull-right">
                                <b>Шегени</b> – Медыка<br>
                                <b>Устилуг</b> – Зосин
                            </div>
                        </td>
                        <td>
                            <div class="pull-left">
                                <b>Ягодин – Дорохуск</b> (станция Ягодин)<br>
                                <b>Владимир-Волынский – <b>Хрубешув</b> (станцияИзов)<br>
                                <b>Рава-Русская – Хребенне, Верхрата</b> (станцияРава-Русская)<br>
                                <b>Мостиска – Пшемисль</b> (станции Мостиска, Мостиска II)
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><b>НА ГРАНИЦЕ СО СЛОВАЦКОЙ РЕСПУБЛИКОЙ</b></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="pull-left">
                                <b>Ужгород</b> – Вишне-Немецке<br>
                                <br>
                            </div>
                        </td>
                        <td>
                            <div class="pull-left">
                                <b>Чоп – Чиерна над Тисоу</b> (станция Чоп)<br>
                                <b>Павлово – Матевце</b> (станция Ужгород)
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><b>НА ГРАНИЦЕ С ВЕНГРИЕЙ</b></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="pull-left">
                                <b>Чоп</b> – Захонь
                                <br>
                                <br>
                            </div>
                        </td>
                        <td>
                            <div class="pull-left">
                                <b>Чоп – Захонь</b> (станция Чоп)<br>
                                <b>Соловка – Эперешке</b> (станция Батево)
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><b>НА ГРАНИЦЕ С РУМЫНИЕЙ</b></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="pull-left">
                                <b>Порубное</b> – Сирет<br>
                                <b>Дьяково</b> – Халмеу<br>
                            </div>
                        </td>
                        <td>
                            <div class="pull-left">
                                <b>Вадул-Сирет – Викшаны</b> (станция Вадул-Сирет)</b><br>
                                <b>Дьяково – Халмеу</b> (станция Дьяково)
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">НА ГРАНИЦЕ С РЕСПУБЛИКОЙ МОЛДОВА</b></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="pull-left">
                                <b>Могилёв-Подольский</b> – Отачь<br>
                                <b>Маяки</b> – Удобное – Паланка<br>
                                <b>Платоново</b> – ГоянулНоу<br>
                                <b>Кучурган</b> – Первомайск<br>
                                <b>Старокозачье</b> – Тудора
                                <br>
                                <br>
                                <br>
                            </div>
                            <div class="pull-right">
                                <b>Рени</b> – Джюрджюлешть<br>
                                <b>Сокиряны</b> – Окница<br>
                                <b>Кельменцы</b> – Ларга<br>
                                <b>Росошаны</b> – Бричень<br>
                                <b>Мамалига</b> – Крыва
                            </div>
                        </td>
                        <td>
                            <div class="pull-left">
                                <b>Кучурган – Новосавицкое</b> (станция Кучурган)<br>
                                <b>Рени – Джюрджюлешть</b> (станция Рени)<br>
                                <b>Могилев-Подольский – Вэлчинец</b> (ст.Могилев-Подольский)<br>
                                <b>Мамалыга – Кривая</b> (станция Мамалыга)<br>
                                <b>Кельменцы – Ларга</b> (станция Ларга)<br>
                                <b>Сокиряны – Окница</b> (станция Сокиряны)<br>
                                <b>Слободка – Колбасна</b> (станция Слободка)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><b>НА ГРАНИЦЕ С РЕСПУБЛИКОЙ БЕЛОРУСЬ</b></td>
                    </tr>
                    <td>
                        <div class="pull-left">
                            <b>Доманово</b> – Мокраны<br>
                            <b>Выступовичи</b> – Новая Рудня<br>
                            <b>Новые Яриловичи</b> – Новая Гута<br>
                            <b>Городище</b> – Верхний Теребежов<br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </td>
                    <td>
                        <div class="pull-left">
                            <b>Горностаевка – Терюха</b> (пункт контроля на станции Чернигов)<br>
                            <b>Удрицк – Горынь</b> (пункт контроля на станции Сарны)<br>
                            <b>Выступовичи – Словечно</b> (пункт контроля на станции Коростень)<br>
                            <b>Заболотье – Хотислав</b> (пункт контроля на станции Ковель)<br>
                            <b>Щорс – Тереховка</b> (пункт контроля на станции Щорс)
                        </div>
                    </td>
                    <tr>
                        <td colspan="2" align="center"><b>НА ГРАНИЦЕ С РОССИЙСКОЙ ФЕДЕРАЦИЕЙ</b></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="pull-left">
                                <b>Гремяч</b> – Погар<br>
                                <b>Сеньковка</b> – Новые Юрковичи/Веселовка<br>
                                <b>Бачевск</b> – Троеборное<br>
                                <b>Юнакиевка</b> – Суджа<br>
                                <b>Должанский</b> – Новошахтинск<br>
                                <b>Красная Таловка</b> – Волошино<br>
                                <b>Танюшевка</b> – Ровенки<br>
                                <b>Просяное</b> – Бугаёвка<br>
                                <b>Успенка</b> – Матвеев Курган<br>
                                <b>Новоазовск</b> – Весело-Вознесенка<br>
                                <b>Изварино</b> – Донецк<br>
                                <b>Червонопартизанск</b> – Гуково
                            </div>
                        </td>
                        <td>
                            <div class="pull-left">
                            <b>Купянск</b> пункт контроля (станция Тополи)<br>
                            <b>Хутор-Михайловский</b> пункт контроля (станция Зерново)<br>
                            <b>Харьков – Сортировочный</b> пункт контроля (станция Казачья Лопань)<br>
                            <b>Красная Могила – Гуково</b> (станция Красная Могила)<br>
                            <b>Иловайск – Южный парк</b> пункт контроля (станция Квашино)<br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><b>ПУНКТЫ ПРОПУСКА ДЛЯ МОРСЬКОГО И РЕЧНОГО СООБЩЕНИЯ</b></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="pull-left">
                                <b>Ильичевский МТП<br>
                                МТП «Южный»<br>
                                Ренийский МП<br>
                                Днепро-Бугский МТП<br>
                                СП «Октябрьский»<br>
                                Керченский МП<br>
                                Крым (паромный)</b>
                            </div>
                            <div class="pull-left" style="margin-left:20%">
                                <b>Феодосийский МТП<br>
                                Севастопольский МТП<br>
                                Скадовский МТП<br>
                                Одесский МТП<br>
                                Измаильский МТП<br>
                                Николаевский МТП<br>
                                Николаевский РП</b>
                            </div>
                            <div class="pull-right">
                                <b>Белгород-Днестровский МТП<br>
                                Мариупольский МТП<br>
                                Бердянский МТП<br>
                                Херсонский РП<br>
                                Херсонский МТП<br>
                                Евпаторийский МП</b>
                            </div>
                        </td>
                    </tr>

                    
                </table>
                </div>
            </div>
    </div>
    </div>
</div>