<div class="page-sidebar" style="width:225px;">
    <ul style="overflow: visible;">
        <li class="sticker sticker-color-blueDark"><a href="/page/presentation"><%= t 'secondary.menu.present' %></a></li>
        <li class="sticker sticker-color-green"><a href="/page/partners"><%= t 'secondary.menu.partners' %></a></li>
        <li class="sticker sticker-color-blueDark"><a href="/page/represent"><%= t 'secondary.menu.represent' %></a></li>
        <li class="sticker sticker-color-green"><a href="/page/become_partner"><%= t 'secondary.menu.bec_part' %></a></li>
    </ul>
</div>
<div class="page-region">
    <div class="page-region-content">
        <div class="grid">
            <div class="span9">
                <div class="row">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <h3 align="center" style="color:#000">
                        Данная страница находится на модерации.
                    </h3>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>