<div class="page-sidebar" style="width:220px;">
    <ul style="overflow: visible;">
        <li class="sticker sticker-color-blueDark"><a href="/page/singleg">Индивидуальная гарантия</a></li>
        <li class="sticker sticker-color-blue"><a href="/page/multig">Многоразовая гарантия</a></li>
        <li class="sticker sticker-color-green"><a href="/page/geng">Генеральная гарантия</a></li>
    </ul>
</div>
<div class="page-region">
    <div class="page-region-content">
        <div class="span9">
            <h2>Индивидуальная финансовая гарантия</h2>
            <blockquote>
                <strong>Предоставление индивидуальной финансовой гарантии</strong>
            </blockquote>
            <br>
            <p>
                Индивидуальная (одноразовая) финансовая гарантия в виде документа предоставляется на сумму таможенных платежей по:
            </p>
            <ul>
                <li>одной таможенной декларации в пределах одной внешнеторговой операции;</li>
                <li>одной таможенной декларации в пределах одной транзитной операции;</li>
                <li>одному документу контроля за перемещением товаров;</li>
                <li>одной операции по перемещению через таможенную границу Украины товаров гражданами в случаях, предусмотренных разделом ХІІ Таможенного кодекса Украины.</li>
            </ul>
            <br>
            <div class="row">
                <center>
                    <%= link_to "Отправить запрос на определение стоимости финансовой гарантии",
                            {:controller => "zapros", :action => "new"}, :class=>"button big bg-color-blueDark", :style => "height: 10px; color: white;" %>
                </center>
                <br>
            </div>
        </div>
    </div>
</div>