<div class="page-region">
    <div class="page-region-content">
        <div class="span9">
            <h2>Индивидуальная финансовая гарантия</h2>
            <blockquote>
                <strong>Предоставление индивидуальной финансовой гарантии</strong>
            </blockquote>
            <br>
            <p>
                Индивидуальная (одноразовая) финансовая гарантия в виде документа предоставляется на сумму таможенных платежей по:
            </p>
            <ul>
                <li>одной таможенной декларации в пределах одной внешнеторговой операции;</li>
                <li>одной таможенной декларации в пределах одной транзитной операции;</li>
                <li>одному документу контроля за перемещением товаров;</li>
                <li>одной операции по перемещению через таможенную границу Украины товаров гражданами в случаях, предусмотренных разделом ХІІ Таможенного кодекса Украины.</li>
            </ul>
            <br>
            <div class="row">
                <center>
                    <!-- <div class="button"> -->
                    <%= link_to "Отправить запрос на определение стоимости финансовых гарантий", 
                        {:controller => "zapros", :action => "new"}, :class=>"button"
                        %>
                    <!-- </div> -->

                </center>
                <br>
            </div>
        </div>
    </div>
</div>