<div class="page-sidebar" style="width:225px;">
    <ul style="overflow: visible;">
        <li class="sticker sticker-color-blueDark" style="font-size:10pt;">
            <%= link_to "Частые вопросы", :controller => "page", :action => 'faq' %>
        </li>
        <li class="sticker sticker-color-blue"style="font-size:10pt;">
            <%= link_to "Нормативно-правовые акты", :controller => "page", :action => 'zakon' %>
        </li>
    </ul>
</div>
<div class="page-region">
    <div class="page-region-content">
        <div class="grid">
            <h2>Нормативно-правовые акты</h2>
            <div class="row">
                <div class="span6"> 
                    <% @zakon.each do |f| %>
                    <p class="long-text">
                        <%= f.id %>. <%= link_to f.name, f.link, :target => "_blanc"%>
                    </p>
                    <% end %>
                </div>   
            </div>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>