<%= render 'shared/add_info_menu' %>

<div class="page-region">
    <div class="page-region-content">
        <h2><%= t 'rules.title' %></h2>
        <div class="row">
            <div class="span8">
                <% @zakon.each do |f| %>
                <p class="long-text" align="justify">
                    <%= f.id %>. <%= link_to f.name, f.link, :target => "_blanc"%>
                </p>
                <% end %>
            </div>
        </div>
    </div>
</div>