<div class="page">
  <div class="page-region-content">
		<div class="row">
			<center>
        <h3>Словарь "Таможенный режим"</h3>
        <%= link_to "Создать", {:controller => "tr", :action => "new"}, :class=>"button big bg-color-blueDark", :style => "height: 10px; color: white;" %>
      </center>
			<table class="bordered">
			<thead>
        <tr>
          <th><center><b>№</b></center></th>
          <th><center><b>Наименование</b></center></th>
        </tr>
      </thead>
      <% @tr.each do |f|  %>
      	<tr>
      		<td><center><%= f.id %>.</center></td>
      		<td><center><%= f.name %></center></td>
          <td><center>
            <%= link_to( "Редактировать", :controller => 'tr', :action=>'edit',:id => f.id ) %></center>
          </td>
      	</tr>
    	<% end %>
    	</table>
		</div>
	</div>
</div>
<br/>
<br/>
<br/>
<br/>