<div class="page">
  <div class="page-region-content">
		<div class="row">
			<center><h3>Редактировать вопрос-ответ</h3></center>
			<table class="bordered">
			<thead>
        <tr>
          <th><center><b>№</b></center></th>
          <th><center><b>Вопрос</b></center></th>
          <th><center><b>Создан</b></center></th>
          <th><center><b>Опубликован</b></center></th>
          <th><center></center></th>
        </tr>
      </thead>
      <% @faqs.each do |f|  %>
    	<tr>
    		<td><center><%= f.id %>.</center></td>
        <% str = f.quest%>
    		<td><%= str[1..85]%>...</td>
    		<td><center><%= f.created_at%></center></td>
    		<td><center><%= status(f.visible)%></center></td>
    		<td></td>
    	</tr>
    	<% end %>
    	</table>
			
		</div>
	</div>
</div>
<br/>
<br/>
<br/>
<br/>