/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

p {
	text-indent: 30px;
}

/************************************************
           JCAROUSEL LITE          
************************************************/
.list {
     height:65px;
     width: 710px;
     margin:auto; 
}

.part {
     float:left;
     left: -5000px; 
     margin:15px; 
     position:relative; 
     visibility:hidden;  
}
     
.part ul {
     height:65px;
     width:900px; 
}

.part ul li {
     padding:0 0px;
}

.part ul li img {
     /*border: 1px dotted black;*/
     cursor:pointer;
     height:60px; 
     padding-top:3px;
     width:120px;  
}

.prev {
     cursor:pointer; 
     float:left;
     padding-top:30px;
}

.next {
     cursor:pointer; 
     float:right; 
     padding-top:30px;
}

/************************************************
           CAPTIFY CAPTION         
************************************************/
.caption-top, .caption-bottom {
     background: #000000;
     color: #ffffff; 
     cursor:default;
     padding:2px; 
     font-size:11px;   
     text-align:center;
}

.caption-top {
     border-width:0px;
}

.caption-bottom {
     border-width:0px;
}

.caption a, .caption a {
     background:#000;
     border:none; 
     text-decoration:none;  
     padding:2px;
}

.caption a:hover, .caption a:hover {
     background:#202020;
}
