body {
    background-color: #fff;
}

.top-shadow {
    background: url("/assets/top-shadow.gif") repeat-x scroll left top transparent;
    padding-top: 21px;
    position: relative;
}

.page-footer {
    /*background: url("/assets/footer.gif") repeat-x scroll left top transparent;*/
background: #1e7145; /* Old browsers */
background: -moz-linear-gradient(top,  #1e7145 0%, #80af92 38%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e7145), color-stop(38%,#80af92), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1e7145 0%,#80af92 38%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1e7145 0%,#80af92 38%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1e7145 0%,#80af92 38%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1e7145 0%,#80af92 38%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e7145', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

.bloc {
background: #c6e8ff; /* Old browsers */
background: -moz-linear-gradient(top,  #c6e8ff 0%, #c6e8ff 12%, #ffffff 72%, #f9fdff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6e8ff), color-stop(12%,#c6e8ff), color-stop(72%,#ffffff), color-stop(100%,#f9fdff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c6e8ff 0%,#c6e8ff 12%,#ffffff 72%,#f9fdff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c6e8ff 0%,#c6e8ff 12%,#ffffff 72%,#f9fdff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c6e8ff 0%,#c6e8ff 12%,#ffffff 72%,#f9fdff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #c6e8ff 0%,#c6e8ff 12%,#ffffff 72%,#f9fdff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6e8ff', endColorstr='#f9fdff',GradientType=0 ); /* IE6-9 */


}
.page {
    width: 940px ;
    margin: auto;
    /*background-color: #fff;*/
}
.browsers-icons img {
    float: left;
    margin-right: 20px;
}


ul.footer-menu {
 list-style: none;
 color: #3038A8;

}

ul.footer-menu li {
 float:left;

}

ul.footer-submenu {
 list-style: none;
 

}

ul.footer-submenu li a {
 float:none;
 color: rgba(0, 0, 0, 0.65);
 font-size: 12px;
 line-height: 10px;
}

ul.footer-submenu li a:hover {
 float:none;
 color: rgba(0, 0, 0, 1);
 text-decoration:underline;
}



.github-info {
}


#brand-name {
    line-height: 24px;
    margin-top: 2px;
}

.sprite-details li {
    line-height: 16px;
    margin-bottom: 10px;
}

hr {
    border: 0;
    border-bottom: 1px #ddd dotted;
    color: #ddd;
    background-color: #ddd;
}

@media (min-width: 768px) and (max-width: 979px) {
    .page {
        width: 724px;
    }
    .hero-unit > img {
        zoom: .6;
    }
    .browsers-icons img {
        zoom: .8;
    }
}

@media (max-width: 767px) {
    .page {
        width: 100%;
    }

    .hero-unit > img {
        zoom: .6;
    }

    .modern-ui-logo {
        width: 24px;
        height: 24px;
    }
    .github-info {
        margin-top: 5px;
    }

    a, .link {
        font-size: 9pt;
    }

    h3 {
        line-height: 11px;
    }
}

@media (max-width: 480px) {
    .hero-unit img {
        display: none;
    }

    #jetbrains {
        display: none;
    }
    #brand-name {
        display: none;
    }
}

table td {
    overflow:hidden;
    border: 1px solid black; 
}

.pull-left {
    font-size: 9pt;
    float: left !important;
    margin-left: 2px;
}

.pull-right {
    font-size: 9pt;
    float: right !important;
    margin-right: 2px;
}

.hrf
{
    cursor: pointer;
    float: left;
    height: 16px;
    padding: 0px 3px 5px 2px !important;
    text-align: left;
    height: 16px;
    width: 20px;
    text-decoration: none !important;
}
.b-share-icon {
    background: url("b-share-icon.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    display: inline;
    float: left;
    height: 16px;
    width: 16px;
    /*overflow: hidden;*/
    padding: 0 !important;
    vertical-align: top;
    width: 16px;
}
.b-share-icon_vkontakte {background-position: 0 0;}
.b-share-icon_twitter {background-position: 0 -51px;}
.b-share-icon_facebook {background-position: 0 -68px;}
.b-share-icon_linkedin {background-position: 0 -255px;}