table {
    border-collapse: separate;
    margin: 0 0 20px;
    width: 100%;
}
table thead tr th, table thead tr td {
    border-color: transparent #DDDDDD #DDDDDD transparent;
    border-style: solid;
    border-width: 1px;
    color: rgba(0, 0, 0, 0.6);
    display: table-cell;
    font-family: 'Segoe UI','Open Sans',Verdana,Arial,Helvetica,sans-serif;
    font-size: 11pt;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 14pt;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 10px;
    text-align: left;
    vertical-align: bottom;
}
table thead tr th.right, table thead tr td.right {
    padding-right: 10px;
    text-align: right;
}
table thead tr th.last, table thead tr td.last {
    border-right: 1px solid transparent;
}
table thead tr th:last-child, table thead tr td:last-child {
    border-right: 1px solid transparent;
}
table tbody tr {
    border: 1px solid #FFFFFF;
}
table tbody tr td {
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    font-family: 'Segoe UI Semilight','Open Sans',Verdana,Arial,Helvetica,sans-serif;
    font-size: 11pt;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 20px;
    padding: 3px 10px;
}
table tbody tr td.right {
    text-align: right;
}
table tbody tr td.center {
    text-align: center;
}
table tbody tr td.last {
    border-right: 1px solid transparent;
}
table tbody tr td:last-child {
    border-right: 1px solid transparent;
}
table tbody tr.success {
    background-color: #00A300 !important;
}
table tbody tr.error {
    background-color: #B91D47 !important;
}
table tbody tr.warning {
    background-color: #E3A21A !important;
}
table tbody tr.info {
    background-color: #2D89EF !important;
}
table tbody tr.info td, table tbody tr.warning td, table tbody tr.error td, table tbody tr.success td {
    color: #FFFFFF !important;
}
table tbody tr.selected-row {
    background-color: rgba(28, 183, 236, 0.1) !important;
}
table tbody tr.selected-row td:first-child {
    border-left: 1px solid #1C98CC;
}
table tbody tr.selected-row td:last-child {
    border-right: 1px solid #1C98CC;
}
table tbody tr.selected-row td {
    border-bottom: 1px solid #1C98CC;
    border-top: 1px solid #1C98CC;
}
table.striped tbody tr:nth-child(2n+1) {
    background-color: #F9F9F9;
}
table.hovered {
    border-collapse: separate !important;
}
table.hovered thead tr th:hover, table.hovered thead tr td:hover {
    background: none repeat scroll 0 0 rgba(28, 183, 236, 0.1);
    border: 1px solid #1C98CC;
}
table.hovered tbody tr:hover {
    background-color: rgba(28, 183, 236, 0.1);
}
table.hovered tbody tr:hover td:first-child {
    border-left: 1px solid #1C98CC;
}
table.hovered tbody tr:hover td:last-child {
    border-right: 1px solid #1C98CC;
}
table.hovered tbody tr:hover td {
    border-bottom: 1px solid #1C98CC;
    border-top: 1px solid #1C98CC;
}
table.bordered {
    border: 1px solid #CCCCCC !important;
    border-collapse: separate !important;
}
table.bordered tbody tr:last-child td {
    border-bottom: 0 none;
}