<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Донтрансгарант и Компания</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%#= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="/styles/tables.css">
    <script src="/js/jquery-1.8.2.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="grid">
        	<%=render "shared/menu_admin"%>

			<%= yield %>
        </div>
		<div class="push"></div>
    </div>
</body>
</html>